/* Font: Work Sans */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap");

/* common style */

* {
  margin: 0px;
  padding: 0px;
  font-family: "Work Sans", sans-serif;
  color: #534c64;
  font-size: 14px;
}

.primary-btn {
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  padding: 15px 29px;
  background-color: #ff42a5;
  border: 0;
  border-radius: 30px;
}

/* header section style start*/

header {
  background-color: #ffffff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  min-height: 95px;
  margin: 0, auto;
  padding: 0 180px;
}

/* logo container style */
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.logo-container img {
  width: 60px;
}
nav h1 {
  color: #0b0223;
  font-size: 2.2rem;
  font-weight: 700;
}
.logo-color {
  color: #ff42a5;
  font-size: 2.2rem;
  font-weight: 700;
}

/* menu style */
nav ul {
  display: flex;
  align-items: center;
  gap: 24px;
}
nav li {
  list-style: none;
  color: #3c354f;
  font-weight: 500;
}
nav li a {
  text-decoration: none;
}

/* menu icons style */
.follow-us-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border: 0;
  padding: 10px 16px;
  background-color: #dddce0;
  border-radius: 5px;
}
.follow-us-icons img {
  width: 24px;
}
/* header section style end*/

/*  main section style start */

/* banner-section style start */

.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-content {
  background-image: url("./images/Group\ 14.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 48%;
  height: 490px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-text h1 {
  color: #0b0223;
  font-size: 2.5rem;
  font-weight: 600;
}
.banner-text {
  max-width: 260px;
}
.banner-text .goat-color {
  font-size: 4.85rem;
  font-weight: 800;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  -webkit-background-clip: text;
  color: transparent;
}
.banner-text p {
  color: #534c64;
  font-weight: 500;
  font-size: 1rem;
}
.text-icons {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.text-icons img {
  width: 20px;
}
/* banner content btn */

.banner-text .btn {
  background-color: #4ec5f7;
  margin-top: 25px;
  margin-left: 10px;
}

.banner-image {
  width: 48%;
}
.banner-image img {
  width: 500px;
  height: 460x;
}
/* banner-section style end */

/* Games Card section Start  */
.games-card {
  padding: 0 180px;
  margin-top: 80px;
}
.games-card h1 {
  text-align: center;
  color: #0b0223;
  font-size: 2.5rem;
  font-weight: 700;
}
.games-card .funny-videos {
  text-align: center;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5rem;
  font-weight: 700;
}

.games-card p {
  text-align: center;
  color: #534c64;
  font-size: 1rem;
  font-weight: 400;
  padding-top: 10px;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 15px;
  margin: 30px 0;
}
.cards img {
  max-width: 240px;
}
.cards figcaption {
  color: #534c64;
  font-size: 1rem;
  font-weight: 500;
  line-height: 20px;
}
/* card hover style */
.cards {
  position: relative;
  width: 100%;
}

.image {
  transition: 0.5s ease;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.cards:hover .image {
  opacity: 0.4;
  cursor: pointer;
}

.cards:hover .middle {
  opacity: 1;
  cursor: pointer;
}

.text img {
  width: 30px;
}
.text p {
  color: #ff42a5;
  font-size: 1rem;
  font-weight: 700;
  padding-top: 10px;
}

/* Games Card section end  */

/* playing option section start */
.playing-option {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 185px;
  padding-left: 210px;
}
.playing-option-content {
  text-align: end;
  max-width: 300px;
}
.playing-option h1 {
  color: #0b0223;
  font-size: 2.5rem;
  font-weight: 700;
}
.playing-option .play-instantly {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5rem;
  font-weight: 700;
}

.playing-option p {
  color: #534c64;
  font-size: 1rem;
  font-weight: 400;
  padding-top: 10px;
}

.playing-option-image {
  width: 50%;
  position: relative;
}
.playing-option-image img {
  width: 450px;
}
.playing-option .front-image {
  width: 224px;
  position: absolute;
  top: 255px;
  right: 450px;
}

/* Game LIst section start */
.game-list {
  background-color: #fff9fc;
  margin-top: 100px;
  min-height: 300px;
}
.games {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 70px 130px 0 130px;
}
.image-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  color: #0b0223;
  font-weight: 600;
  padding: 7px 14px;
  border: 1px solid transparent;
  border-radius: 30px;
  margin: 10px 13px;
}
.games .image-button:hover {
  border: 1px solid #ff42a5;
  color: #ff42a5;
  cursor: pointer;
}

.image-button img {
  height: 44px;
  margin-right: 8px;
}
/* footer section style start */
footer {
  min-height: 450px;
  background-color: #0b0223;
  margin: 0, auto;
}

.footer-container .logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 88px;
}
.footer-container .logo-container img {
  width: 60px;
}
.footer-container h1 {
  color: #ffffff;
  font-size: 2.2rem;
  font-weight: 700;
}
.footer-container .logo-color {
  color: #ff42a5;
  font-size: 2.2rem;
  font-weight: 700;
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 40px;
}
footer li {
  list-style: none;
}
footer .footer-menu a {
  text-decoration: none;
  font-weight: 600;
  color: white;
}

.social-media-icons {
  text-align: center;
}
.social-media-icons img {
  width: 30px;
  margin: 40px 10px 15px 10px;
}
footer .footer-term-condition li > a {
  text-decoration: none;
  font-weight: 500;
  color: white;
  font-size: 0.7rem;
}
footer p {
  text-align: center;
  font-size: 0.8rem;
  margin-top: 20px;
  font-weight: 500;
}

/*For 576px mobile version */
@media screen and (max-width: 576px) {
  header {
    box-shadow: none;
    margin-top: 30px;
  }
  .logo-container {
    margin-bottom: 30px;
  }

  nav,
  nav ul,
  .playing-option {
    flex-direction: column;
    padding: 0;
  }
  .banner-container {
    flex-direction: column-reverse;
    gap: 100px;
  }
  .banner-image,
  .banner-content {
    width: 80%;
    margin-top: 5px;
    max-height: 315px;
    text-align: center;
  }
  .banner-image img {
    width: 80%;
  }
  .card-container {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .games-card {
    padding: 0;
  }
  .cards img {
    max-width: 100%;
  }
  .playing-option-content {
    text-align: center;
  }
  .playing-option-image {
    width: 100%;
    /* position: relative; */
  }
  .playing-option-image img {
    /* justify-items: center; */
    width: 400px;
  }
  .playing-option {
    gap: 20px;
    padding: 0 0 0 100px;
  }
  .playing-option .front-image {
    width: 180px;
    top: 255px;
    right: 370px;
  }

  .games {
    /* padding: 70px 130px 0 130px; */
    padding: 2px;
  }
  .image-button {
    padding: 7px 14px;
    border: none;
    border-radius: 30px;
    margin: 10px 1px;
  }
  .image-button img {
    margin-right: 2px;
  }

  footer ul {
    flex-wrap: wrap;
  }
}

/*For 576px to 768px tablet version */
@media screen and (min-width: 576px) and (max-width: 768px) {
  nav {
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .banner-container {
    flex-direction: column-reverse;
    gap: 200px;
  }
  .banner-image img {
    padding-left: 57px;
  }
  .banner-image,
  .banner-content {
    width: 80%;
    max-height: 315px;
  }

  .card-container {
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
  }
  .games-card {
    padding: 0;
  }
  .cards img {
    max-width: 100%;
  }

  .playing-option {
    flex-direction: column-reverse;
    padding: 0;
    gap: 100px;
  }

  .playing-option-content {
    text-align: center;
  }
  .playing-option-image {
    width: 50%;
  }

  .playing-option .front-image {
    top: 265px;
    right: 250px;
  }

  .games {
    padding: 2px;
    padding-top: 20px;
  }
  .image-button {
    padding: 7px 14px;
    margin: 10px 1px;
  }
  .image-button img {
    margin-right: 2px;
  }
}
